@charset "utf-8";
%lighton{ background-image: url(../images/light_bulb_on.png); background-size: 51px 63px; }
.godArea{ width: 1280px; padding: 80px 0; margin: 0 auto; }
.godAreaIn{ width: 200px; height: 200px; border: 3px solid #000; border-radius: 8px; position: relative; 
	.deathlight{ display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);
		i{ display: block; width: 51px;  height: 63px; @extend %lighton; cursor: pointer; }
	}
}