@charset "utf-8";
%lighton{ background-image: url(../images/light_bulb_on.png); background-size: 51px 63px; }
%lightoff{ background-image: url(../images/light_bulb_off.png); background-size: 51px 63px; }
.godArea{ width: 1280px; padding: 80px 0; margin: 0 auto; @extend .clearfix; }
.godAreaIn{ width: 280px; height: 280px; border: 3px solid #000; border-radius: 8px; position: relative; float: left; margin: 17px;
	.deathlight{ display: block; position: absolute; 
		i{ display: block; width: 51px;  height: 63px; @extend %lighton; cursor: pointer; }
	}
	.light1{ left: 50%; top: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); }
	.light2{ left: 5px; top: 50%; transform: translate(0,-50%); -webkit-transform: translate(0,-50%); }
	.light3{ right: 5px; top: 50%; transform: translate(0,-50%); -webkit-transform: translate(0,-50%); }
	.light4{ left: 50%; top: 5px; transform: translate(-50%,0); -webkit-transform: translate(-50%,0); }
	.light5{ left: 50%; bottom: 5px; transform: translate(-50%,0); -webkit-transform: translate(-50%,0); }
	.light6{ left: 5px; bottom: 5px; }
	.light7{ right: 5px; bottom: 5px; }
	.light8{ left: 5px; top: 5px; }
	.light9{ right: 5px; top: 5px; }
	.off{
		i{ @extend %lightoff; }
	}
}
.ty_confirm{ width: 150px; height: 50px; line-height: 50px; display: block; margin: 50px auto; text-align: center; border-radius: 8px; border: 3px solid #000; font-size: 18px; font-family: "黑体"; 
	&:hover{ background-color: #fe9d5e; color: #fff; border-color: #fe7d49; }
}